@{
    ViewData["Title"] = "ConfigurarJuego";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Configuracion</title>
        <link rel="Stylesheet" href="site.css">
    </head>
    <body>
        <form method="post" action='@Url.Action("Comenzar")'>
            <input type="text" name="username" placeholder="ingrese su nombre de usuario">
            <h1>Elija la categoria</h1>
            @foreach (Categorias item in ViewBag.categorias)
            {
                <input type="button" onclick="cambiarcategoria(@item.IdCategoria)" class="btn btn-secondary" id="categoria_@item.IdCategoria" name="categoria" value="@item.Nombre">
            }
            <input type="button" onclick="cambiarcategoria(0)" class="btn btn-secondary" id="categoria_0" name="categoria" value="TODAS">
            <br>
            <h1>Elija la dificultad</h1>
            @foreach (Dificultades item in ViewBag.dificultades)
            {
                <input type="button" onclick="cambiardificultad(@item.IdDificultad)" class="btn btn-secondary" id="dificultad_@item.IdDificultad" name="dificultad" value="@item.Nombre">
            }
            <input type="button" onclick="cambiardificultad(0)" class="btn btn-secondary" id="dificultad_0" name="dificultad" value="TODAS">
            <br>
            <input class="ligt" type="submit" class="btn btn-secondary" value="Jugar">
        </form>
    </body>
</html>